/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
}

body {
    font-family: MonumentExtended-regular, serif;
}

@font-face {
    font-family: "MonumentExtended-black";
    src: url("/assets/fonts/MonumentExtended-Black.otf") format("otf"), url("/assets/fonts/MonumentExtended-Black.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended-light";
    src: url("/assets/fonts/MonumentExtended-Light.otf") format("otf"), url("/assets/fonts/MonumentExtended-Light.ttf") format("truetype");
}

@font-face {
    font-family: "MonumentExtended-regular";
    src: url("/assets/fonts/MonumentExtended-Regular.otf") format("otf"), url("/assets/fonts/MonumentExtended-Regular.ttf") format("truetype");
}


/* LOGO */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    -webkit-user-select: none;
}

.logo {
    z-index: 996;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}

.logo p {
    z-index: 999;
    display: inline-block;
    font-size: 50px; //25px
    line-height: 50px; //25px
    animation: fadeInLogo 3000ms ease-in-out forwards;
}

.logo .mask {
    z-index: 998;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48%;
    background-color: black;
    margin-bottom: 9px;
}

.logo p.text-effect {
    z-index: 997;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: fadeInLogo 3000ms ease-in-out forwards, textEffect 1000ms ease-out 1000ms forwards;
}

.description {
    z-index: 999;
    position: relative;
    overflow-y: hidden;
    text-transform: uppercase;
    text-align: right;
    max-height: 22px;
    line-height: 26px;
    font-size: 20px;
    margin: 10px 0 50px 0;
}

.description div {
    transform: translateY(-25px);
    transition: transform 0.4s;
}

.description p {
    display: inline-block;
    opacity: 0;
    animation: fadeInToTop 700ms ease-in-out 3000ms forwards;
}


/* NAVIGATION */

.navigation nav {
    display: flex;
    z-index: 996;
    justify-content: space-between;
}

.navigation nav div {
    display: flex;
    position: relative;
}

.navigation nav div .mask {
    z-index: 998;
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.navigation nav div a,
.navigation nav div p.text-effect {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 15px;
}

.navigation nav div a {
    z-index: 999;
    display: inline-block;
    opacity: 0;
    animation: fadeInToTop 700ms ease-in-out forwards;
}

.navigation nav div:nth-child(1) a {
    animation-delay: 3200ms;
}

.navigation nav div:nth-child(2) a {
    animation-delay: 3400ms;
}

.navigation nav div:nth-child(3) a {
    animation-delay: 3600ms;
}

.navigation nav div p.text-effect {
    z-index: 997;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: bottom .15s;
}

@import './keyframes.scss';