/* GENERAL */

:root {
    --main-background-color: black;
    --main-typo-color: white;
}

$font-size-logo: 30px;
$line-height-logo: 23px;
$font-size-description: 10px;
$font-size-links: 10px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-typo-color);
    text-transform: uppercase;
}

body {
    font-family: MonumentExtended-regular, serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: "MonumentExtended-regular";
    src: url("/assets/fonts/MonumentExtended-Regular.otf") format("otf"), url("/assets/fonts/MonumentExtended-Regular.ttf") format("truetype");
}


/* LOGO */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background-color);
    -webkit-user-select: none;
}

.logo {
    z-index: 996;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    text-align: right;
    letter-spacing: 1px;
}

.logo p {
    z-index: 999;
    display: inline-block;
    font-size: $font-size-logo; //25px
    line-height: $line-height-logo; //25px
    animation: fadeInLogo 3000ms ease-in-out forwards;
}

.logo .mask {
    z-index: 998;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58%;
    background-color: var(--main-background-color);
    margin-bottom: 0;
}

.logo p.text-effect {
    z-index: 997;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: fadeInLogo 3000ms ease-in-out 1000ms forwards, textEffect 1000ms ease 2000ms forwards;
}

.description {
    z-index: 999;
    position: relative;
    overflow-y: hidden;
    text-transform: uppercase;
    text-align: right;
    max-height: 22px;
    line-height: 26px;
    font-size: $font-size-description;
    margin: 7px 0 50px 0;
}

.description div {
    transform: translateY(-25px);
    transition: transform 0.4s;
}

.description p {
    display: inline-block;
    opacity: 0;
    animation: fadeInToTop 700ms ease-in-out 3000ms forwards;
}


/* NAVIGATION */

.navigation nav {
    display: flex;
    z-index: 996;
    justify-content: space-between;
}

.navigation nav div {
    display: flex;
    position: relative;
}

.navigation nav div .mask {
    z-index: 998;
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
}

.navigation nav div a,
.navigation nav div p.text-effect {
    text-transform: uppercase;
    text-decoration: none;
    line-height: $font-size-links;
    font-size: $font-size-links;
}

.navigation nav div a {
    z-index: 999;
    display: inline-block;
    opacity: 0;
    animation: fadeInToTop 700ms ease-in-out forwards;
}

.navigation nav div:nth-child(1) a {
    animation-delay: 3200ms;
}

.navigation nav div:nth-child(2) a {
    animation-delay: 3400ms;
}

.navigation nav div:nth-child(3) a {
    animation-delay: 3600ms;
}

.navigation nav div p.text-effect {
    z-index: 997;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: bottom .15s;
}


/* COLOR MODE */

.container-color-mode {
    align-self: flex-end;
    overflow: hidden;
    height: 10px;
    font-size: $font-size-links;
    margin: 0 10px 10px 0;
    cursor: pointer;
    div {
        transition: transform 0.4s;
    }
}

@import './keyframes.scss';